<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
/*******************************************************************************
 * Copyright (c) 2012, 2016 Pivotal Software, Inc.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     Pivotal Software, Inc. - initial API and implementation
 *     IBM - vendor neutral branding
 *******************************************************************************/
-->
<plugin>
	<extension point="org.eclipse.wst.server.core.runtimeTypes">
		<runtimeType id="org.cloudfoundry.appcloudserver.runtime.10"
			version="1.0" 
			name="Cloud Foundry" 
			description="Cloud Foundry supports J2EE Web modules."
			vendor="Cloud Foundry" 
			class="org.eclipse.cft.server.core.internal.CloudFoundryServerRuntime">
			<moduleType types="wst.web" versions="1.0" />
			<moduleType types="jst.web" versions="2.2,2.3,2.4,2.5,3.0,3.1" />
			<moduleType types="jst.utility" versions="1.0"/>
            <moduleType types="cloudfoundry.standalone.app" versions="1.0"/> 
		</runtimeType>
	</extension>

	<extension point="org.eclipse.wst.server.core.serverTypes">
		<serverType
	        behaviourClass="org.eclipse.cft.server.core.internal.client.CloudFoundryServerBehaviour"
	        class="org.eclipse.cft.server.core.internal.CloudFoundryServer"
	        description="Publishes and runs J2EE Web projects to Cloud Foundry."
	        hasConfiguration="false"
	        id="org.cloudfoundry.appcloudserver.10"
	        initialState="stopped"
	        name="Cloud Foundry"
	        runtime="true"
	        supportsRemoteHosts="true"
	        runtimeTypeId="org.cloudfoundry.appcloudserver.runtime.10"
	        startTimeout="600000"
	        stopTimeout="60000">
		</serverType>
	</extension>
	<extension point="org.eclipse.wst.common.project.facet.core.defaultFacets">
    	<default-facets>
      		<runtime-component id="org.cloudfoundry.appcloudserver"/>
        	<facet id="wst.jsdt.web" version="1.0"/>
    	</default-facets>
  	</extension>
  	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<runtime-component-type id="org.cloudfoundry.appcloudserver" />
		<runtime-component-version type="org.cloudfoundry.appcloudserver" version="1.0" />
		
		<adapter>
			<runtime-component id="org.cloudfoundry.appcloudserver" />
			<factory class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory" />
			<type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider" />
		</adapter>
		<adapter>
	      <runtime-component id="org.cloudfoundry.appcloudserver"/>
	      <factory class="org.eclipse.wst.server.ui.FacetRuntimeComponentLabelProvider"/>
	      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
	    </adapter>
		<supported>
			<runtime-component id="org.cloudfoundry.appcloudserver" version="1.0" />
			<facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0,3.1" />
			<facet id="jst.utility" version="1.0"/>
			<facet id="cloudfoundry.standalone.app" version="1.0"/>
    	</supported>
	</extension>
	<extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
		<runtimeFacetMapping 
			runtimeTypeId="org.cloudfoundry.appcloudserver.runtime.10"
			runtime-component="org.cloudfoundry.appcloudserver" version="1.0" />
	</extension>
	<extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
	     <runtimeClasspathProvider
	        id="org.cloudfoundry.appcloudserver.classPathProvider"
	        runtimeTypeIds="org.cloudfoundry.appcloudserver.runtime.10"
	        class="org.eclipse.cft.server.core.internal.CloudFoundryRuntimeClasspathProvider"/>
     </extension>
	 <extension
       point="org.eclipse.cft.server.core.branding">
	    <service
           name="Cloud Foundry"
           provideServices="true"
           remoteSystemTypeId="org.cloudfoundry.cloudfoundryserver"
           serverDisplayName="Cloud Foundry"
           serverTypeId="org.cloudfoundry.appcloudserver.10">
    </service>
     </extension>

</plugin>
